*{
color: #030616;
background-color: #F8FAFC;

}
#heading{
text-align: center;
padding: 20px;
background-color: white;
}

h1{
font-family: 'Inter';
font-weight:600;
font-size: 36px;
background-color: white;
}

#subtitle{
background-color: white;
}

h2{
font-family: 'Inter';
font-weight:600;
font-size: 24px;
}

p{
font-family: 'Inter';
font-weight:400;
font-size: 16px;
line-height: 40px;
}

li{
font-family: 'Inter';
font-weight:400;
font-size: 16px;
line-height: 2rem;
}

#q1box{
width: 540px;
margin-top: 60px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
text-align: left;
}

#q2box{
width: 540px;
margin-top: 30px;
margin-bottom: 60px;
margin-left: auto;
margin-right: auto;
text-align: left;
}

hr{
border: none;
height: 0.5px;
background-color: #D2D5DA;
}

a{
color: #4E80EE;
}